[submodule "building-detection/utils/solaris"]
	path = building-detection/utils/solaris
	url = git@github.com:CosmiQ/solaris.git
# [submodule "building-detection/utils/segmentation_models"]
# 	path = building-detection/utils/segmentation_models
# 	url = git@github.com:qubvel/segmentation_models.pytorch.git
